@use "variables" as *;

body {
  font-family: "Noto Sans JP", sans-serif;
  color: $text-color;
  letter-spacing: 0.05em;
}

body,
html {
  height: 100%;
}

.kufi {
  font-family: "Reem Kufi";
}

hr {
  border: none;
  border-top: 1px solid $gray;
}

// ブロック
li {
  list-style: none;
}

// テキスト
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.note {
  color: var(--note-color);

  &--blue {
    color: #4696dc;
  }
}

// リンク
a:link,
a:visited,
a:active {
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

.link-noBorder {
  text-decoration: none;
}

a.link-white {
  color: white !important;
  text-decoration: none;
}

.link-text {
  color: #1558d6;
  border-bottom: #1558d6 solid 1px;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.hover {
  &:hover {
    opacity: 0.8;
  }
}

// フォーム
label {
  display: block;
  margin-bottom: 0.25rem;
}

// input
input {
  // background-color: $light-gray;
  padding: 0.4375rem;
  border-radius: 0.5rem;

  &:not([type="submit"], [type="checkbox"], [type="radio"]) {
    outline: #b4b4b4 1px solid;
    outline-offset: -1px;
  }
}

input,
select,
textarea {
  margin-bottom: 1rem;
}

textarea {
  // background-color: $light-gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: #b4b4b4 1px solid;
}

select {
  width: 100%;
  height: 40px;
  padding: 0.5rem 1rem;
  border: 1px solid $gray;
  border-radius: 6px;
  background-color: white;
  font-size: 1rem;
  color: $text-color;
}

*:disabled {
  background-color: $light-gray;
}

// background color
.bg-gray {
  background-color: $gray;
}

// position
.relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.absolute-VerticalCenter {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  &--right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.br {
  &--sp {
    display: block;
  }

  @media screen and (min-width: 851px) {
    &--sp {
      display: none;
    }
  }
}