@use "foundation/variables";
@use "foundation/reset";
@use "foundation/base";

@use "layout/wrap";
@use "layout/header";
@use "layout/footer";
@use "layout/container";
@use "layout/table";
@use "layout/breadcrumb";
@use "layout/modal";
@use "layout/grid";
@use "layout/flex";
@use "layout/position";

@use "object/component/nav";
@use "object/component/button";
@use "object/component/form";
@use "object/component/label";
@use "object/component/link";
@use "object/component/title";
@use "object/component/balloon";
@use "object/component/graph";
@use "object/component/pager";
@use "object/component/calendar";
@use "object/component/modal-option";

@use "object/project/index";
@use "object/project/inventory_transactions";
@use "object/project/user-input";
@use "object/project/register";
@use "object/project/master";
@use "object/project/setting";
@use "object/project/dynamic_pricing";
@use "object/project/_salesTarget";
@use "object/project/_reserve";

@use "object/utility/margin";
@use "object/utility/padding";
@use "object/utility/font";
@use "object/utility/border";
@use "object/utility/background";
@use "object/utility/dimensions";
@use "object/utility/block";
@use "object/utility/btn";