@use '../../foundation/variables' as *;

.c-balloon-caution {
// 吹き出しのCSS
    background-color: $text-color;
    border-radius: 5px;
    color: white;
    font-size: 0.875rem;
    padding: 1rem;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &::before {
      border-color: transparent transparent $text-color transparent;
      border-style: solid;
      border-width: 10px;
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -20px;
      right: 150px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    background-image: url('/images/icon/caution.svg');
    background-size: contain;
    background-position: bottom;
  }
}

// メモの吹き出し
.c-balloon-memo {
  position: relative;
  &__box {
    position: absolute;
    z-index: 1;
    bottom: 60px;
    left: 10px;
    display: none;
  }
  &__text {
    position: relative;
    background-color: rgba(255, 242, 215, 0.75);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    text-align: center;
    padding: 1rem 0.5rem 2rem 0.5rem;
    width: 175px;
    &::before {
      border-color: $light-yellow transparent transparent transparent;
      opacity: 0.75;
      filter: drop-shadow(1px 1px 2px rgba(255,
        242,
        215,
        0.75));
      border-style: solid;
      border-width: 10px;
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: -20px;
      left: 25px;
      // 細長い三角形
      border-top: 10px solid $light-yellow;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }

  &__close {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 0.75rem;
    width: 45px;
    height: 15px;
    &::after {
      content: "閉じる";
      display: block;
    }
  }
}