@use '../../foundation/variables' as *;

.c-calendar {
  &__heading {
    background-color: $text-color;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0.5rem;
  }
  &__wrap {
    div {
      background-color: $calendar-bg;
    }
  }
  &__available-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.c-calendar-available-time {
  &__wrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
    gap: .25rem;
  }
  display: grid;
  grid-template-columns: 1fr 45px;
  gap: .25rem;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 1.25rem;
}