@use '../../foundation/variables' as *;

.c-calendar {
  &__heading {
    background-color: $text-color;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0.5rem;
  }
  &__wrap {
    div {
      background-color: $calendar-bg;
    }
  }
  &__available-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.c-calendar-available-time {
  &__wrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
    gap: .25rem;
  }
  display: grid;
  grid-template-columns: 1fr 45px;
  gap: .25rem;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 1.25rem;
}

// 受付入力1カレンダー
.c-calendar-reservation__wrap {
  position: relative;
}

.fc {
  .fc-multimonth {
      border: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      overflow: visible;
  }
}
.fc .fc-multimonth-multicol .fc-multimonth-month {
  width: 100%;
}
.fc-daygrid-day {
  background-color: #eaeaea;
  text-align: center;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}
.fc-col-header-cell.fc-day {
  background-color: #3c3c3c;
  color: #fff;
}
.fc-col-header-cell.fc-day.fc-day-sat {
  background-color: #0068b6;
}

.fc-col-header-cell.fc-day.fc-day-sun {
  background-color: #e50012;
}

a.fc-col-header-cell-cushion {
  line-height: 40px;
}

.fc-multimonth-title {
  display: none;
}

table.fc-multimonth-daygrid-table,
table.fc-multimonth-header-table {
  border-spacing: 4px;
  border-collapse: separate;
}

table.fc-multimonth-header-table tr {
  height: 25px;
}

.fc-day-disabled {
  border: none !important;
  background-color: #fff !important;
}

.fc-day.fc-day-today.fc-daygrid-day:not(.day_full),
.fc-day.fc-day-future.fc-daygrid-day:not(.day_full) {
  cursor: pointer;
}

.fc-daygrid-day-events {
  margin: 5px;
}

a.fc-daygrid-day-number {
  display: block;
  width: 100%;
  font-size: 1.5rem;
}

.fc .fc-daygrid-day-top {
  margin-top: 5px;
}

.hour_label_cell,
.quarter_hour_label_cell {
  cursor: pointer;
}

.day_selected,
.hour_selected,
.quater_hour_selected {
  border-color: rgb(167, 207, 249) !important;
  background-color: rgb(167, 207, 249) !important;
}
