@use '../../foundation/variables' as *;

// フォーム
.c-form__admin {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  width: 390px;
  margin: 0 auto;

  &--title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1.125rem;
  }
}

.c-input__admin {
  width: 100%;
}