@use '../../foundation/variables' as *;

// フォーム
.c-form__admin {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  width: 390px;
  margin: 0 auto;

  &--title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1.125rem;
  }
}

// input
.c-input__admin {
  width: 100%;
}
.c-form-input--w100 {
  width: 100%;
}

// select
.c-form-select-wrap {
  position: relative;
  select {
    padding-right: 2rem;
  }
  &::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 7px solid $text-color;
    border-bottom: 0;
  }
}

.c-form-select-color {
  position: relative;
  margin-bottom: 1rem;
  &::before, &::after {
    position: absolute;
    content: "";
    pointer-events: none;
  }
  &::before {
    display: inline-block;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    background-color: $light-gray;
    border: 1px solid $gray;
  }
  &::after {
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 7px solid $text-color;
    border-bottom: 0;
  }
  select {
    appearance: none;
    padding: .4em 3.6em .4em .8em;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    font-size: 1em;
    margin-bottom: 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
