@use '../../foundation/variables' as *;

.c-nav {
  &__wrap {
    width: 160px;
    background: $light-gray;
    padding-top: 2rem;
  }

  &__list {
    text-align: left;
    border-top: 1px solid $gray;
  }

  &__item {
    height: 100px;
    border-bottom: 1px solid $gray;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1rem;
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &::before {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
    }
    &.--reserve::before {
      background: url('../../../../images/icon/reserve.svg') no-repeat center center;
    }
    &.--list::before {
      background: url('../../../../images/icon/list.svg') no-repeat center center;
    }
    &.--en::before {
      background: url('../../../../images/icon/en.svg') no-repeat center center;
    }
    &.--setting::before {
      background: url('../../../../images/icon/setting.svg') no-repeat center center;
    }
  }
}