@use '../../foundation/variables' as *;

.c-pager {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    padding: 0.25rem .5rem;
    border-radius: 6px;
    cursor: pointer;

    &--next, &--prev, &--first, &--last {
      padding: 0.25rem .5rem;
    }

    &--next, &--last {
      transform: rotate(180deg);
    }
  
    &:hover {
      background-color: $light-gray;
      color: $text-color;
    }
  }

  // 予約管理TOP＞検索結果のページネーション
  &__link {
    display: flex;
    align-items: center;
  }
  
  &__input-pageNumber {
    width: 3rem;
  }

  input, select {
    height: 2rem;
    margin-bottom: 0;
  }
  select {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 2rem;
  }
}


// YEARのページネーション
.c-pager__pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}
.c-pager__year-list-wrapper {
  overflow: hidden;
  width: 100%;
  background: #707070;
  color: white;
}
.c-pager__year-list {
  display: flex;
  transition: transform 0.3s ease;
  margin: 0;
  padding: 0.25rem 0;
}
.c-pager__year-item {
  min-width: 14%;
  text-align: center;
  padding: 2px 0;
  list-style: none;
  border-left: 1px solid white;
  cursor: pointer;
}
.c-pager__year-item.--selected {
  background: #3C3C3C;
}
.c-pager__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}