.is-block {
  display: block;
}

.is-inline-block {
  display: inline-block;
}

.is-none {
  display: none;
}

// 未使用
// .is-active{}

// .is-hidden {
//   display: none;
// }
// .is-visible {}
// .is-invisible {}
// .is-disabled {}
