.u-w-auto {
  width: auto;
}
.u-w100 {
  width: 100%;
}
.u-w80 {
  width: 80px;
}
.u-w90 {
  width: 90px;
}
.u-w140 {
  width: 140px;
}
.u-w210 {
  width: 210px;
}
.u-h40 {
  height: 40px;
}
.u-h30 {
  height: 30px;
}