.u-w-auto,
input.u-w-auto {
  width: auto;
}
.u-w-full-wide {
  width: 100%;
}
.u-w-half {
  width: 50%;
}
.u-w40 {
  width: 40px;
}
.u-w38 {
  width: 40px;
}
.u-w50 {
  width: 50px;
}
.u-w70 {
  width: 70px;
}
.u-w80 {
  width: 80px;
}
.u-w90 {
  width: 90px;
}
.u-w100 {
  width: 100px;
}
.u-w120 {
  width: 120px;
}
.u-w140 {
  width: 140px;
}
.u-w160 {
  width: 160px;
}
.u-w170 {
  width: 170px;
}
.u-w180 {
  width: 170px;
}
.u-w210 {
  width: 210px;
}
.u-w240 {
  width: 240px;
}
.u-max-350 {
  max-width: 350px;
}

.u-h-full {
  height: 100%;
}
.u-h30 {
  height: 30px;
}
.u-h38 {
  height: 38px;
}
.u-h40 {
  height: 40px;
}
.u-h50 {
  height: 50px;
}

// line-hight
.u-lh38 {
  line-height: 38px;
}

@media screen and (max-width: 850px) {
  .u-w-full-wide--md {
    width: 100%;
  }
}
