@use "../../foundation/variables" as *;

// カラー
.u-font {
  &--white {
    color: white;
  }
  &--green {
    color: $green;
  }
  &--blue {
    color: $blue;
  }
  &--red {
    color: $red;
  }
}

// フォントサイズ
.u-font {
  &--10,
  &--xs {
    font-size: 0.625rem;
  }
  &--12,
  &--sm {
    font-size: 0.75rem;
  }
  &--14,
  &--md {
    font-size: 0.875rem;
  }
  &--normal {
    font-size: 1rem !important;
  }
  &--18 {
    font-size: 1.125rem;
  }
  &--20 {
    font-size: 1.25rem;
  }
  &--lg,
  &--24 {
    font-size: 1.5rem;
  }
  &--28 {
    font-size: 1.75rem;
  }
  &--xl,
  &--36 {
    font-size: 2.25rem;
  }
  &--46 {
    font-size: 2.875rem;
  }
}

// フォントウェイト
.u-font {
  &--normal {
    font-weight: normal;
  }
  &--medium {
    font-weight: 500;
  }
  &--bold {
    font-weight: bold;
  }
}

// テキストアライン
.u-font-lh {
  &--2 {
    line-height: 2;
  }
  &--38px {
    line-height: 38px;
  }
}

.u-font-yen {
  font-size: 0.75em;
}

// 文字詰め
.palt {
  font-feature-settings: "palt";
}

.u-font-nowrap {
  white-space: nowrap;
}

@media screen and (max-width: 850px) {
  .u-font--lg {
    font-size: 1.25rem;
  }
  .u-font--xl {
    font-size: 2rem;
  }
}
