@use '../../foundation/variables' as *;

.u-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}
.u-mt0 {
  margin-top: 0;
}
input.u-mb0 {
  margin-bottom: 0;
}
.u-mt1 {
  margin-top: 1rem;
}
.u-mt2 {
  margin-top: 2rem;
}
.u-mt3 {
  margin-top: 3rem;
}
.u-mt4 {
  margin-top: 4rem;
}

.u-mb0 {
  margin-bottom: 0;
}
.u-mb025 {
  margin-bottom: 0.25rem;
}
.u-mb05 {
  margin-bottom: 0.5rem;
}
.u-mb075 {
  margin-bottom: 0.75rem;
}
.u-mb1 {
  margin-bottom: 1rem;
}
.u-mb2 {
  margin-bottom: 2rem;
}
.u-mb2-half {
  margin-bottom: 2rem;
}
.u-mb3 {
  margin-bottom: 3rem;
}
.u-mb3-half {
  margin-bottom: 3.5rem;
}
.u-mb4 {
  margin-bottom: 4rem;
}
.u-mb5 {
  margin-bottom: 5rem;
}
.u-mb6 {
  margin-bottom: 6rem;
}

.u-mr0 {
  margin-right: 0;
}
.u-mr025 {
  margin-right: 0.25rem;
}
.u-mr05 {
  margin-right: 0.5rem;
}
.u-mr1 {
  margin-right: 1rem;
}
.u-mr2 {
  margin-right: 2rem;
}
.u-mr2-half {
  margin-right: 2.5rem;
}
.u-mr3 {
  margin-right: 3rem;
}
.u-mr4 {
  margin-right: 4rem;
}
.u-mr5 {
  margin-right: 5rem;
}
.u-mr6 {
  margin-right: 6rem;
}