@use '../../foundation/variables' as *;

.u-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-mb1 {
  margin-bottom: 1rem;
}
.u-mb2 {
  margin-bottom: 2rem;
}
.u-mb4 {
  margin-bottom: 4rem;
}