@use "../foundation/variables" as *;

.l-breadcrumb {
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__list {
    position: relative;
    padding-left: 1.25rem;
    &::before {
      position: absolute;
      top: 0.5rem;
      left: 0;
      content: "▶";
      color: $green;
      font-size: 1rem;
      margin-right: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  // 予約フォームのステップ表示
  &-step {
    &__wrap {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-right: 27.5px;
      margin-bottom: 4rem;
    }
    &__item {
      position: relative;
      width: min(32%, 300px);
      background-color: $light-green;
      color: white;
      font-size: 1.25rem;
      line-height: 55px;
      text-align: center;
      // 左を三角形にする
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 27.5px solid transparent;
        border-bottom: 27.5px solid transparent;
        border-left: 27.5px solid white;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -27px;
        width: 0;
        height: 0;
        border-top: 27.5px solid transparent;
        border-bottom: 27.5px solid transparent;
        border-left: 27.5px solid $light-green;
      }

      &:first-child {
        z-index: 3;
      }

      &:nth-child(2) {
        z-index: 2;
      }
      &:last-child {
        z-index: 1;
      }

      &-gray {
        @extend .l-breadcrumb-step__item;
        background-color: $light-gray;
        &::before {
          border-left: 27.5px solid $light-gray;
        }
      }

      // カレントの場合
      &.--current {
        background-color: $green;

        &::before {
          border-left-color: $green;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .l-breadcrumb-step {
    &__wrap {
      padding-left: 10px;
      padding-right: 16px;
      margin-right: 10px;
      margin-bottom: 2rem;
    }
    &__item {
      font-size: 10px;
      line-height: 32px;
      padding-left: 16px;
      &::after {
        border-top: 16px solid rgba(0, 0, 0, 0);
        border-bottom: 16px solid rgba(0, 0, 0, 0);
        border-left: 16px solid #fff;
      }
      &::before {
        border-top: 16px solid rgba(0, 0, 0, 0);
        border-bottom: 16px solid rgba(0, 0, 0, 0);
        border-left: 16px solid #a7dfd7;
        right: -16px;
      }
    }
  }
}
