@use '../foundation/variables' as *;

.l-container {
  width: 100%;
  // max-width: 1120px;
  
  &__wrap {
    height: 100%;
    display: grid;
    grid-template-columns: 160px 1fr;
  }

  &__inner {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  // ログイン画面
  &__admin {
    max-width: 600px;
    width: 100%;
    border: 1px solid $dark-gray;
    border-radius: 1.5rem;
    margin: 7rem auto 0;
    padding: 3.5rem 0;
  }
}

