@use "../foundation/variables" as *;

.l-container {
  &__inner {
    width: 1120px;
    padding: 0 2rem 0 3rem;
    margin-left: 0;
  }
  // ログイン画面
  &__admin {
    max-width: 600px;
    width: 100%;
    border-radius: 1.5rem;
    padding: 2rem 0 0;

    @media screen and (min-width: 850px) {
      border: 1px solid $dark-gray;
      margin: 7rem auto 0;
      padding: 3.5rem 0;
    }
  }
  &__user-login {
    max-width: 395px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__button-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: $text-color;
    display: flex;
    justify-content: center;
    &-parent {
      padding-bottom: 6rem;
    }
  }
}
