.l-grid {
  display: grid;
  align-items: center;
  &--col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &--col2-auto {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  &--col3 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  &--col3-auto {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto);
  }
  &--col4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &--col4-auto {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
  &--col5 {
    display: grid;
    grid-template-columns: repeat(5, auto);
  }
}

// gap
.l-grid {
  &--gap025 {
    gap: 0.25rem;
  }
  &--gap05 {
    gap: 0.5rem;
  }
  &--gap1 {
    gap: 1rem;
  }
  &--gap2 {
    gap: 2rem;
  }
  &--cgap1 {
    column-gap: 1rem;
  }
  &--cgap2 {
    column-gap: 2rem;
  }
  &--rgap1 {
    row-gap: 1rem;
  }
  &--rgap2 {
    row-gap: 2rem;
  }
}

// column span
.l-grid--rowspan1 {
  grid-row: span 1;
}

.l-grid--rowspan2 {
  grid-row: span 2;
}

.l-grid--rowspan3 {
  grid-row: span 3;
}

.l-grid--colspan1 {
  grid-column: span 1;
}

.l-grid--colspan2 {
  grid-column: span 2;
}

.l-grid--colspan3 {
  grid-column: span 3;
}
.l-grid--colspan4 {
  grid-column: span 4;
}

// input と label のgrid
.l-grid--input {
  > * {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  }
} 

// 日別の料金設定
.l-grid--pricing {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: column;
  align-items: center;
  label {
    white-space: nowrap;
    text-align: right;
  }
  input {
    width: 155px;
  }
}

.l-grid__radio {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.25rem;
  align-items: center;
  label {
    white-space: nowrap;
  }
}