@use '../foundation/variables' as *;

.l-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  // .5sでmodalがフェードイン
  transition: background-color 1s;
  z-index: 101;

  // display: none;
  &.is-active {
    width: 100%;
    height: 100vh;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__inner {
    .is-active & {
      display: grid;
    }
    display: none;
    width: 80%;
    min-width: 960px;
    height: 90%;
    background-color: #fff;
    border-radius: 2rem;
    position: relative;
    grid-template-areas: "head" "content";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 4rem 1fr;
    gap: 1rem;
    &--option {
      grid-template-rows: 6rem 1fr;
      height: 80%;
      padding-bottom: 2rem;
    }
  }

  &__head {
    color: white;
    background-color: $gray;
    text-align: center;
    // height: 4rem;
    display: grid;
    align-items: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-size: 1.25rem;
    // margin-bottom: 3rem;
    grid-area: head;
    
    &--option {
      margin-bottom: 0;
      &__name {
        padding: 1rem 0 .25rem;
      }
      &__total {
        padding: .25rem 0 1rem 0;
        font-size: 1rem;
        span {
          font-size: 1.25em;
          font-weight: bold;
        }
      }

    }
  }

  &__content {
    width: 0;
    height: 0;
    padding: 0 1rem;

    &--option {
      padding: 1rem;
    }

    input {
      margin-bottom: 0.75rem;
    }

    .is-active & {
      display: block;
      width: calc(900px + 2rem);
      height: auto;
      margin-left: auto;
      margin-right: auto;
      grid-area: content;
      overflow-y: auto;
      &.p-register {
        height: 85%;
        width: 85%;
      }
    }
  }

  // closeボタン
  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }

  // ゴミ箱に入れる
  &--trash {
    position: relative;
  }
  &__trashButton {
    position: absolute;
    bottom: 6rem;
    left: 3rem;
    width: 30px;
    height: 32px;
  }

  // 商品カテゴリー編集画面
  &--productCategory-edit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 450px;
    dt {
      margin-bottom: 0.25rem;
    }
    label {
      font-size: 0.875rem;
    }
    input, select {
      margin-bottom: 0;
      height: 40px;
      font-size: 1rem;
    }
  }
  &--productCategory-edit-price {
    text-align: right;
    &__wrap {
      display: inline;
      border-bottom: 0.99px solid #B4B4B4;
      padding-bottom: 0.25rem;
    }
    &__head {
      font-size: 1rem;
      padding-right: 3rem;
    }
  }


  // 商品編集画面
  &--product-edit {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    font-size: 0.875rem;
    position: relative;
    dt {
      margin-bottom: 0.25rem;
    }
    input, select {
      margin-bottom: 0;
      font-size: 1rem!important;
      height: 40px;
    }
    &__price {
      text-align: right;
      &__wrap {
        display: inline;
        border-bottom: 0.99px solid #B4B4B4;
        padding-bottom: 0.25rem;
      }
      &__head {
        font-size: 1rem;
        padding-right: 3rem;
      }
    }
  }
}