@use '../foundation/variables' as *;

.l-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 2rem;
  }

  &__complete {
    &--head {
      color: white;
      background-color: $gray;
      text-align: center;
      height: 6rem;
      display: grid;
      align-items: center;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      font-size: 1.25rem;
      margin-bottom: 3rem;
    }
  }
}