@use "../foundation/variables" as *;

// テーブル共通
.l-table {
  &__checkbox {
    text-align: center;
    input {
      margin-bottom: 0;
    }
  }
}

// 一覧系テーブル
// レジ点検表
.l-table-list,
.l-table-register {
  border-radius: 8px;
  letter-spacing: 0.05em;
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;

  &__head {
    color: white;
    &--sort {
      th {
        padding-top: 0;
        padding-bottom: 0;
        height: 42px;
      }
    }
    th {
      font-size: 11px;
      padding: 0.5rem 1rem;
      font-weight: normal;
      background: $dark-gray;
      border-top: 1px solid $text-color;
      border-left: 1px solid $text-color;
    }
    th:first-child {
      border-radius: 8px 0 0 0;
    }
    th:last-child {
      border-radius: 0 8px 0 0;
    }
    th:last-child {
      border-right: 1px solid $text-color;
    }
  }
  &__body {
    font-size: 14px;

    tr {
      &:last-child {
        td:first-child {
          border-radius: 0 0 0 8px;
        }
        td:last-child {
          border-radius: 0 0 8px 0;
        }
      }
    }
    td {
      padding: 0.5rem;
      border-bottom: 1px solid $text-color;
      border-left: 1px solid $text-color;

      &:last-child {
        width: 120px;
        border-right: 1px solid $text-color;
        > button {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  // 代理店設定
  // headを固定してスクロール
  &--scroll-vertical,
  &--agency_setting,
  &--category_setting {
    &__container {
      max-height: 278px;
      overflow: auto;
    }
    &__head {
      position: sticky;
      top: 0;
      height: 42px;
      width: 100%;
      z-index: 1;
      th {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

.l-table-list--master,
.l-table-register {
  tr:nth-child(even) {
    background: $light-gray;
  }
  tbody {
    tr:not(:last-child) {
      td {
        border-bottom: none;
      }
    }
  }
}

// 入出庫テーブル
.l-table-list--scroll {
  border-spacing: 0;

  &__wrapper {
    width: calc(100vw - (160px + 5rem));
    min-width: 1040px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
  }

  th,
  td {
    height: 50px;
    vertical-align: middle;
    padding: 0 15px;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: 400;
    border-left: 0.9px solid $text-color;
    background: #fff;
  }

  th {
    color: #fff;
    background: $green;
  }

  &.--in,
  &.--out {
    tr[data-href]:nth-of-type(n + 2):hover {
      // background-color: #f0f0f0;
      cursor: pointer;
    }
  }
  &.--in {
    tr[data-href]:nth-of-type(n + 2):hover {
      > td {
        background: rgba(210, 248, 245, 1);
      }
    }
  }
  &.--out {
    tr[data-href]:nth-of-type(n + 2):hover {
      > td {
        background: rgba(230, 240, 255, 1);
      }
    }
  }
  //   tr[data-href]:nth-of-type(2n) {
  //     background-color: #FFF;
  //     /* 好みの色に変更 */
  //   }
  // tr[data-href]:nth-of-type(2n+1) {
  //   background-color: #ececec;
  //   /* 好みの色に変更 */
  // }
  tr {
    &:nth-child(2n + 1) {
      > td {
        background: $light-gray;
      }
    }

    &:first-child {
      th {
        border-top: 0.9px solid $text-color;
      }

      th:first-child {
        border-radius: 0.75rem 0 0 0;
        border-left: 0.9px solid $text-color;
      }

      th:last-child {
        border-radius: 0 0.75rem 0 0;
        border-right: 0.9px solid $text-color;
      }
    }

    &:last-child {
      td {
        border-bottom: 0.9px solid $text-color;
      }

      td:first-child {
        border-radius: 0 0 0 0.75rem;
        border-left: 0.9px solid $text-color;
      }

      td:last-child {
        border-radius: 0 0 0.75rem 0;
        border-right: 0.9px solid $text-color;
      }
    }
  }

  th:first-child,
  td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    border-left: 0.9px solid $text-color;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }

  &.--sticky-second {
    th:nth-child(-n + 2),
    td:nth-child(-n + 2) {
      position: -webkit-sticky;
      position: sticky;
    }
    .process_all {
      width: 43px;
    }

    th:nth-child(1),
    td:nth-child(1) {
      left: 0;
      padding: 5px;
    }

    th:nth-child(2),
    td:nth-child(2) {
      left: 54px;
      border-right: 0.9px solid $text-color;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    }
    th:nth-child(3),
    td:nth-child(3) {
      border-left: none;
    }
  }

  th:last-child,
  td:last-child {
    // right: 0;
    border-right: 0.9px solid $text-color;
    // filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, .5));
  }

  &.--blue {
    th {
      background: $blue;
    }
  }

  .is-active {
    display: block;
  }

  // 入庫・出庫切替ボタン
  &__tab {
    display: flex;
    gap: 1rem;
    justify-content: left;
    margin-left: 2rem;
    margin-bottom: 0;

    &-item {
      padding: 0.5rem 1rem;
      border-top: 1px solid $text-color;
      border-left: 1px solid $text-color;
      border-right: 1px solid $text-color;
      cursor: pointer;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
      opacity: 0.5;
      width: 160px;
      text-align: center;
      color: white;

      &.is-active {
        opacity: 1;
      }

      &:first-child {
        background: $green;
      }

      &:last-child {
        background: $blue;
      }
    }
  }
}

// 日次更新テーブル
.l-table-date {
  @extend .l-table-list;
  &__head {
    @extend .l-table-list__head;
    th {
      background: $green;
    }
  }
  &__body {
    @extend .l-table-list__body;
  }
}

// シミュレーション結果テーブル
.l-table-result {
  @extend .l-table-list;
  border: 1px solid $text-color;

  &__head {
    @extend .l-table-list__head;
  }

  &__body {
    @extend .l-table-list__body;
    td {
      &:last-child {
        width: auto;
        background: $light-yellow;
      }
      &:not(:first-child) {
        text-align: center;
      }
    }
  }
}

// 確認画面テーブル
// 入力テーブル　// 検索入力テーブル
.l-table-confirm,
.l-table-input {
  border: 1px solid #b4b4b4;
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  tr:not(:last-child) {
    th,
    td {
      border-bottom: 1px solid #b4b4b4;
    }
  }
  th {
    background: $off-white;
    font-weight: normal;
    border-right: 1px solid #b4b4b4;
    min-width: 100px;
  }
  th,
  td {
    padding: 0.5rem;
  }
  td {
    &:not(:last-child) {
      border-right: 1px solid #b4b4b4;
    }
  }
}

.l-table-input {
  th {
    padding: 0.5rem 0.15rem;
    text-align: center;
  }
  td {
    // width: 100%;
    padding: 0;
  }
  label {
    display: inline-block;
  }
  input {
    margin-bottom: 0;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.5rem 0 0.5rem 0.5rem;
    &::placeholder {
      opacity: 0.75;
    }
  }
  input:not([class*="u-"]):not([type="number"]):not([type="checkbox"]) {
    width: 100%;
  }
  input[type="checkbox"] {
    margin: 0 0.5rem;
  }
  select {
    font-size: 0.875rem;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
  }
}

// 料金詳細テーブル
.l-table-charge-detail {
  width: 100%;
  border-spacing: 0.5rem;
  border-collapse: separate;
  border-bottom: 1px solid $gray;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  &__head {
    > * {
      background: $gray;
      color: white;
    }
    th {
      padding: 0.25rem 0.5rem;
      white-space: nowrap;
    }
  }
  &__body {
    text-align: left;
    th {
      font-weight: normal;
    }
    td {
      &:nth-child(even) {
        text-align: right;
      }
      &:nth-child(3) {
        text-align: center;
      }
    }
  }

  // 金額合計
  &--second {
    border-bottom: 1px solid $gray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    &__column {
      display: grid;
      grid-template-columns: 1fr auto auto auto;
      column-gap: 1rem;
      text-align: right;
      align-items: center;
    }
  }
}

// テーブル上部のアイテム
.l-table-top {
  &-list {
    position: absolute;
    top: -40px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  &-item {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: 40px;
    line-height: 40px;
    padding: 0 1rem;
  }

  &-parent {
    position: relative;
  }
}

// I-3 ダイナミックプライシング料金設定
.l-table-dynamic-pricing-list {
  &__button {
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    &.c-button__edit {
      width: 90%;
      border-radius: 4px;
    }
  }

  margin-top: 3rem;
  border-spacing: 0;
  table-layout: fixed;

  thead {
    font-weight: normal;
    th {
      padding: 0 0 1rem 0;
    }
  }
  tbody {
    font-size: 0.875rem;
    line-height: 44px;
    tr {
      &:first-child {
        th {
          border-top: 1px solid $text-color;
          background: #888888 !important;
          &:first-child {
            border-radius: 8px 0 0 0;
            border-left: 1px solid $text-color;
          }
          &:last-child {
            border-radius: 0 8px 0 0;
          }
        }
      }
      &:not(:first-child) {
        th {
          border-left: 1px solid $text-color;
        }
      }
      &:last-child {
        th,
        td {
          border-bottom: 1px solid $text-color;
        }
        th {
          border-radius: 0 0 0 8px;
        }
        td:last-child {
          border-radius: 0 0 8px 0;
        }
      }
      th {
        background: #888888;
        color: white;
        font-weight: normal;
        width: 180px;
        border-right: 1px solid $text-color;
      }
      td {
        width: 140px;
        text-align: right;
        padding: 0 0.5rem;
        &:not(:last-child) {
          border-right: 1px solid $gray;
        }
        &:last-child {
          border-right: 1px solid $text-color;
        }
      }
      &:nth-child(even) {
        th {
          background: #b4b4b4;
        }
        td {
          background-color: #ececec;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .l-table-confirm {
    border-bottom: none;
    border-right: none;
    word-break: break-all;
    font-size: 12px;
    tr {
      display: grid;
      grid-template-columns: 150px 1fr;
    }
    th,
    td {
      border-bottom: 1px solid #b4b4b4;
    }
    td {
      border-right: 1px solid #b4b4b4;
    }
    .--mark {
      grid-column: 1 / span 2;
      text-align: center;
    }
  }

  .l-table-charge-detail {
    border-spacing: 0.25rem;
    font-size: 12px;
    .--tax {
      font-size: 10px;
      white-space: nowrap;
    }
    &--second {
      border-bottom: 0;
    }
    &--second__column {
      grid-template-columns: repeat(2, auto);
      column-gap: 0;
      row-gap: 0.5rem;
      > div {
        border-bottom: 1px solid #b4b4b4;
        line-height: 24px;
        padding-bottom: 0.25rem;
      }
    }
  }
}
