@use '../foundation/variables' as *;

// 一覧系テーブル
.l-table-list {
  border-radius: 8px;
  letter-spacing: 0.05em;
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;

  &__head {
    color: white;
    th {
      font-size: 11px;
      padding: 1rem;
      font-weight: normal;
      background: $dark-gray;
      border-top: 1px solid $text-color;
      border-left: 1px solid $text-color;
    }
    th:first-child {
      border-radius: 8px 0 0 0;
    }
    th:last-child {
      border-radius: 0 8px 0 0;
    }
    th:last-child {
      border-right: 1px solid $text-color;
    }
  }
  &__body {
    font-size: 14px;

    tr {
      &:last-child {
        td:first-child {
          border-radius: 0 0 0 8px;
        }
        td:last-child {
          border-radius: 0 0 8px 0;
        }
      }

    }
    td {
      padding: .5rem;
      border-bottom: 1px solid $text-color;
      border-left: 1px solid $text-color;

      &:last-child {
        width: 120px;
        border-right: 1px solid $text-color;
        > button {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.l-table-list--master {
  tr:nth-child(even) {
    background: $light-gray;
  }
  tbody {
    tr:not(:last-child) {
      td {
        border-bottom: none;
      }
    }
  }
}

// 入出庫テーブル
.l-table-list--scroll {
  border-spacing: 0;

  &__wrapper {
    width: 1040px;
    overflow-x: auto;
    position: relative;
  }

  th,
  td {
    height: 50px;
    vertical-align: middle;
    padding: 0 15px;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: 400;
    border-left: 0.9px solid $text-color;
    background: #fff;
  }

  th {
    color: #fff;
    background: $green;
  }

  tr {
    &:nth-child(2n+1) {
      >td {
        background: $light-gray;
      }
    }

    &:first-child {
      th {
        border-top: 0.9px solid $text-color;
      }

      th:first-child {
        border-radius: 0.75rem 0 0 0;
        border-left: 0.9px solid $text-color;
      }

      th:last-child {
        border-radius: 0 0.75rem 0 0;
        border-right: 0.9px solid $text-color;
      }
    }

    &:last-child {
      td {
        border-bottom: 0.9px solid $text-color;
      }

      td:first-child {
        border-radius: 0 0 0 0.75rem;
        border-left: 0.9px solid $text-color;
      }

      td:last-child {
        border-radius: 0 0 0.75rem 0;
        border-right: 0.9px solid $text-color;
      }
    }
  }


  th:first-child,
  th:last-child,
  td:first-child,
  td:last-child {
    position: -webkit-sticky;
    position: sticky;
  }

  th:first-child,
  td:first-child {
    left: 0;
    border-left: 0.9px solid $text-color;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
  }

  th:last-child,
  td:last-child {
    right: 0;
    border-right: 0.9px solid $text-color;
    filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, .5));
  }

  &.--blue {
    th {
      background: $blue;
    }
  }

  .is-active {
    display: block;
  }

  // 入庫・出庫切替ボタン
  &__tab {
    display: flex;
    gap: 1rem;
    justify-content: left;
    margin-left: 2rem;
    margin-bottom: 0;

    &-item {
      padding: 0.5rem 1rem;
      border-top: 1px solid $text-color;
      border-left: 1px solid $text-color;
      border-right: 1px solid $text-color;
      cursor: pointer;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
      opacity: 0.5;
      width: 160px;
      text-align: center;
      color: white;

      &.is-active {
        opacity: 1;
      }

      &:first-child {
        background: $green;
      }

      &:last-child {
        background: $blue;
      }
    }

  }
}


// 日次更新テーブル
.l-table-date {
  @extend .l-table-list;
  border: 1px solid $text-color;
  &__head {
    @extend .l-table-list__head;
    background: $green;
  }
  &__body {
    @extend .l-table-list__body;
  }
}

// シミュレーション結果テーブル
.l-table-result {
  @extend .l-table-list;
  border: 1px solid $text-color;

  &__head {
    @extend .l-table-list__head;
  }

  &__body {
    @extend .l-table-list__body;
    td {
      &:last-child {
        width: auto;
        background: $light-yellow;
      }
      &:not(:first-child) {
        text-align: center;
      }
    }
  }
}

// 確認画面テーブル
// 入力テーブル　// 検索入力テーブル
.l-table-confirm,
.l-table-input {
  border: 1px solid #B4B4B4;
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  tr:not(:last-child) {
    th, td {
      border-bottom: 1px solid #B4B4B4;
    }
  }
  th {
    background: $off-white;
    font-weight: normal;
    border-right: 1px solid #B4B4B4;
    min-width: 100px;
  }
  th,td {
    padding: .5rem;
  }
  td {
    &:not(:last-child) {
      border-right: 1px solid #B4B4B4;
    }
  }
}

.l-table-input {
  th {
    padding: 0.5rem 0.15rem;
    text-align: center;
  }
  td {
    // width: 100%;
    padding: 0;
  }
  label {
    display: inline-block;
  }
  input {
    margin-bottom: 0;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.5rem 0 0.5rem 0.5rem;
    &::placeholder {
      opacity: 0.75;
    }
  }
  input:not([class*="u-"]):not([type="number"]):not([type="checkbox"]) {
    width: 100%;
  }
  input[type="checkbox"] {
    margin: 0 .5rem;
  }
  select {
    font-size: 0.875rem;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
  }
}

// 料金詳細テーブル
.l-table-charge-detail {
  width: 100%;
  border-spacing: 0.5rem;
  border-collapse: separate;
  border-bottom: 1px solid $gray;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  &__head {
    > * {
      background: $gray;
      color: white;
    }
  }
  &__body {
    text-align: left;
    th {
      font-weight: normal;
    }
    td {
      &:nth-child(even) {
        text-align: right;
      }
      &:nth-child(3) {
        text-align: center;
      }
    }
  }

  // 金額合計
  &--second {
    border-bottom:1px solid $gray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    &__column {
      display: grid;
      grid-template-columns: 1fr auto auto auto;
      column-gap: 1rem;
      text-align: right;
      align-items: center;
    }
  }
}

// テーブル上部のアイテム
.l-table-top {
  &-list {
      position: absolute;
      top: -40px;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      gap: 1rem;
  }
  &-item {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: 40px;
    line-height: 40px;
    padding: 0 1rem;
  }

  &-parent {
    position: relative;
  }
}

