@use '../../foundation/variables' as *;

.p-index {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    width: 965px;
    height: 570px;
    font-size: 2rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    color: white;
    text-align: center;
    background: $green;
    border-radius: 1rem;
    &:hover {
      opacity: 0.8;
    }
    &--modal {
      display: grid;
      align-items: center;
      cursor: pointer;
    }
    &:nth-child(3) {
      grid-column: 1 / 3;
    }
  }

  &__link {
    display: grid;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
}