// 受付入力

@use '../../foundation/variables' as *;
.p-reception-entry{
  &__box {
    display: grid;
    grid-template-columns: 130px 1fr;
    gap: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom : 1px solid $green;
    &--col3 {
      @extend .p-reception-entry__box;
      grid-template-columns: 130px 1fr 250px;
    }
  }
  &-fee {
    width: 400px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    &__item {
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &__item,&__sum {
      >*:nth-child(even) {
        text-align: right;
        font-size: 1.5rem;
        font-weight: medium;
    
        span {
          font-size: 1.125rem;
          font-weight: medium;
        }
      }
    }
  }

  // オプション選択
  &__optionSelect {
    &--input  {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      label {
        height: 80px;
      }
    }
  }

  // 確認画面
  &__confirm {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      // border: 1px solid $gray;

      >* {
          padding: 8px;
          border: 1px solid $gray;
          margin-bottom: -1px;
          margin-right: -1px;
        }
      &--head {
        background-color: $off-white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $green;
      }
  }
}