@use '../../foundation/variables' as *;

.p-register {
  &__total {
    background-color: $green;
    color: white;
  }

  &__calculator {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 0.125rem;
    margin-top: 1rem;
    > div {
      background-color: $light-gray;
      display: grid;
      align-items: center;
      text-align: center;
    }
  }

  &__settlement {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 130px;
    grid-template-areas:
    "left right"
    "foot foot";
    &--left {
      grid-area: left;
    }
    &--right {
      grid-area: right;
    }
    &--foot {
      grid-area: foot;
      background-color: $light-gray;
    }
  }
}