@use "../../foundation/variables" as *;

.p-reserve {
  &__wrap {
    width: 100%;
    max-width: 656px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
  }
}
.p-reserve-selectedTime {
  &--detail {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    &__wrap {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(4, auto);
      gap: 0.25rem;
    }
  }
  &__bg {
    background-color: $calendar-bg;
  }
}

// ユーザー用予約ページメディアクエリ

@media (max-width: 768px) {
  .c-title__calendar {
    font-size: 1rem;
    line-height: 50px;
  }
  // 時間選択
  .c-calendar__heading {
    height: 32px;
    line-height: 32px;
  }
  .c-calendar-available-time {
    grid-template-columns: 1fr 24px;
    font-size: 12px;
    line-height: 32px;
    height: 32px;
  }
  // 料金計算
  .p-input-user-total-parking-charges__inner {
    width: 100%;
    max-width: 340px;
  }
}
