@use '../../foundation/variables' as *;

.p-salesTarget {
  &__wrap {
    display: grid;
    grid-template-columns: 250px 750px;
    column-gap: 14px;
    padding-left: 30px;
    &:not(:last-child) {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #3C3C3C;
    }
  }
  &__left-dttl {
    background-color: $green;
    color: white;
    padding: 0 0.5rem;
    line-height: 38px;
    margin-bottom: 0.625rem;
  }
  &__table {
    width: 98px;
    &:hover {
      .p-salesTarget__right-dttl {
        background: $green;
      }
      .p-salesTarget__right-desc {
        background: #DFF3F0;
      }
    }
  }
  &__right-dttl {
    background-color: #A7DFD7;
    color: #3C3C3C;
    padding: 0 0.5rem;
    line-height: 38px;
    font-size: 14px;
    margin-bottom: 0.625rem;
    text-align: center;
    white-space: nowrap;
  }
  &__right-desc {
    background-color: #F6F6F6;
  }
  &__item {
    font-size: 14px;
    line-height: 28px;
    border-bottom: 1px solid white;
  }
  &__right-item {
    padding: 0 0.5rem;
    text-align: right;
  }
}
.p-salesTarget-table {
  &__wrap {
    display: grid;
    grid-template-columns: 20px 694px 20px;
    column-gap: 0.5rem;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #3C3C3C;
    }
  }
  &__button {
    &--left, &--right {
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
    &--left {
      width: 20px;
      height: 40px;
      border-top: 20px solid transparent;
      border-right: 20px solid $green;
      border-bottom: 20px solid transparent;
      z-index: 101;
    }
    &--right {
      width: 20px;
      height: 40px;
      border-top: 20px solid transparent;
      border-left: 20px solid $green;
      border-bottom: 20px solid transparent;
      z-index: 101;
    }
  }
  &__container {
    width: 100%;
    overflow-x: hidden;
  }
  &__inner {
    display: flex;
    gap: 2px;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
}