@use "../../foundation/variables" as *;

.p-user-input,
.p-user {
  &-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left title info";
    align-items: center;
    grid-area: head;
    width: 100%;
    height: 100px;
    background-color: $light-green;
    margin-bottom: 3rem;

    &__title {
      grid-area: title;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.2em;
    }

    &__info {
      grid-area: info;
      font-size: 1rem;
      display: grid;
      justify-content: right;
      padding-right: 1.5rem;
    }
  }

  &__inner {
    width: 100%;
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5rem;

    &--sm {
      @extend .p-user-input__inner;
      width: 100%;
      max-width: 920px;
    }
  }
}

// 代理店ラジオボタン
.p-input-user-agency-code {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  input,
  label {
    margin-bottom: 0;
  }

  label {
    display: inline-block;
    margin-right: 0.25rem;

    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}

// 駐車料金合計
.p-input-user-total-parking-charges {
  // padding: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &__inner {
    width: 90%;
    max-width: 440px;
    min-width: 340px;
    margin: 1rem auto 2rem auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 1px solid $gray;
    font-size: 1.125rem;
  }

  &__head {
    display: grid;
    grid-template-columns: 150px auto auto;
    padding: 0;
    text-align: left;
    margin-bottom: 2rem;
    font-weight: 500;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;

    div:nth-of-type(3n) {
      text-align: right;
    }
  }

  &__detail {
    width: 100%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $gray;
    border-radius: 0.5rem;
    font-size: 0.875rem;
  }

  &__detail-title {
    text-align: center;
    border-bottom: 1px solid $gray;
    position: relative;
    padding: 0.5rem;
  }

  &__detail-close-button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }

  &__detail-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid $gray;

    >div:nth-child(odd) {
      text-align: left;
    }

    >div:nth-child(even) {
      text-align: right;
    }
  }

  &__detail-list-total,
  &__detail-total {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;

    >div:nth-child(odd) {
      text-align: left;
      font-weight: 500;
    }

    >div:nth-child(even) {
      text-align: right;
    }
  }

  &__detail-total {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

// input-user　自動出力ページ
.p-user-input-auto-output {
  &__wrap {
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: end;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__right {
    max-width: 250px;
  }
}

// 車種選択
.p-input-user-option {
  &__box {
    display: grid;
    grid-template-columns: 130px 1fr;
    gap: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $green;

    &--col3 {
      @extend .p-input-user-option__box;
      grid-template-columns: 150px 1fr 250px;

      &__right {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: auto;
        row-gap: 0.5rem;
      }
    }
  }

  // &-fee {
  //   width: 400px;
  //   margin-top: 2rem;
  //   padding-bottom: 1rem;

  //   &__item {
  //     padding-top: 1rem;
  //     padding-bottom: 1rem;
  //     margin-top: 1rem;
  //     margin-bottom: 1rem;
  //   }

  //   &__item,
  //   &__sum {
  //     >*:nth-child(even) {
  //       text-align: right;
  //       font-size: 1.5rem;
  //       font-weight: medium;

  //       span {
  //         font-size: 1.125rem;
  //         font-weight: medium;
  //       }
  //     }
  //   }
  // }

  // オプション選択
  &__select {
    &--input {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(100px, auto);
      gap: 1rem;
      padding: 0.25rem;
    }
  }

  // // 確認画面
  // &__confirm {
  //   display: grid;
  //   grid-template-columns: repeat(5, 1fr);
  //   // border: 1px solid $gray;

  //   >* {
  //     padding: 8px;
  //     border: 1px solid $gray;
  //     margin-bottom: -1px;
  //     margin-right: -1px;
  //   }

  //   &--head {
  //     background-color: $off-white;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     color: $green;
  //   }
  // }
}

// 完了ページ
.p-user-input-complete__text {
  font-size: 32px;
  text-align: center;
  line-height: 2;
  margin-bottom: 4rem;
}

.p-user-input-complete__message {
  max-width: 600px;
}

// メディアクエリ
@media screen and (max-width: 849px) {

  .p-user,
  .p-user-input {
    &__inner {
      width: 100%;
      max-width: 620px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &-header {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 1rem;
      height: auto;

      &__info {
        padding-right: 0;
      }
    }
  }

  .p-user-input-auto-output__wrap {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  // 受付終了
  .p-user-input-complete__text {
    font-size: 20px;
    // line-height: 1;
    margin-bottom: 2rem;
  }
}